// prettier-ignore
@mixin box-shape($border: null, $radius: null, $padding: null) {
  @if $border { border: $border; }
  @if $radius { border-radius: $radius; }
  @if $padding { padding: $padding; }
}

// prettier-ignore
@mixin flex-setup($dir: null, $wrap: null, $gap: null, $jc: null, $ai: null, $ac: null) {
  display: flex;
  @if $dir { flex-direction: $dir; }
  @if $wrap { flex-wrap: $wrap; }
  @if $gap { gap: $gap; }
  @if $jc { justify-content: $jc; }
  @if $ai { align-items: $ai; }
  @if $ac { align-content: $ac; }
}

// prettier-ignore
@mixin popup-setup($smooth: true, $left: 50%, $bottom: calc(100% + 13px), $radius: 6px, $padding: 8px, $bg-color: #e46f41, $font-size: 14px, $arrow-position: -6px, $arrow-width: 10px) {
  @if $smooth {
    visibility: hidden;
    opacity: 0;
  } @else { display: none; }
  position: absolute;
  width: max-content;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.4));
  transform: translateX(-50%);
  left: $left;
  bottom: $bottom;
  border-radius: $radius;
  padding: $padding;
  background-color: $bg-color;
  font-size: $font-size;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    width: 0;
    height: 0;
    margin: auto auto $arrow-position;
    border-width: $arrow-width $arrow-width 0;
    border-style: solid;
    border-color: transparent;
    border-top-color: $bg-color;
  }
}

// prettier-ignore
@mixin close-button($round: true, $size: 19px, $font-size: 14px, $color: rgba(0, 0, 0, 0.5), $color-active: rgba(0, 0, 0, 0.7), $bg-color-hover: rgba(0, 0, 0, 0.2)) {
  border: 0;
  background-color: transparent;
  width: $size;
  height: $size;
  line-height: $size;
  font-size: $font-size;
  color: $color;
  @if $round { border-radius: 50%; }
  @else { border-radius: 0; }

  &:hover {
    background-color: $bg-color-hover;
  }

  &:active {
    color: $color-active;
  }
}

// prettier-ignore
@mixin menu-setup() {
  @include box-shape($border: 1px solid white, $radius: 6px);
  position: absolute;
  top: calc(100% + 8px);
  background-color: #2e2e47;
  font-size: 16px;
  overflow: hidden;

  & > li {
    @include flex-setup($ai: center);
    position: relative;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 6px 10px;

    &:last-of-type {
      border-bottom: 0;
    }

    &:hover:not(:has(span.disabled))::before {
      content: "";
      position: absolute;
      inset: 0;
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 20px;
}

body {
  display: flow-root;
  background-color: #202025;
  color: white;
  font-family: Inter, Arial, Helvetica, sans-serif;
}

// -- general selectors --
.alert,
.tooltip {
  @include popup-setup();
}

.alert {
  transition: opacity 0.2s linear;

  &::after {
    margin: auto auto -6px 20%;
  }
}

.tooltip {
  transition: opacity 0.2s linear, visibility 0.2s step-end;
}

.disabled {
  opacity: 0.3;
  pointer-events: none;
}

button,
input[type="checkbox"] {
  cursor: pointer;
}
// ----

main {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: center;
  height: 100vh;
  padding: 0 10px;
  text-align: center;
}

.title-container {
  align-self: self-end;
  padding: 20px 10px;
}

.app-container {
  @include box-shape($border: 2px solid white, $radius: 20px, $padding: 20px);
  position: relative;
  width: min(100%, 500px);
  background-color: #2e2e47;
  overflow: hidden;
}

.modal-container {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2px);
  z-index: 1;
}

#modal-form,
#modal-confirm {
  @include box-shape($border: 1px solid rgb(255, 255, 255), $radius: 10px, $padding: 20px);
  @include flex-setup($dir: column, $gap: 10px, $ai: center);
  position: absolute;
  inset: 0;
  width: max-content;
  height: max-content;
  margin: auto;
  font-size: 18px;
  background-color: #2e2e47;

  input {
    @include box-shape($border: 0, $radius: 4px, $padding: 4px 6px);
    width: 190px;
    font-size: 16px;

    &:focus {
      outline: 1px solid #ffffff;
      outline-offset: 2px;
    }
  }
}

.modal-input-container {
  position: relative;
}

.modal-buttons-container {
  @include flex-setup($gap: 10px, $jc: center, $ai: center);
  margin-top: 4px;

  button {
    @include box-shape($border: 0, $radius: 4px, $padding: 4px 10px);
    font-size: 14px;

    &:hover {
      background-color: rgb(215, 215, 215);
    }

    &:active {
      background-color: rgb(175, 175, 175);
    }
  }
}

#product-form {
  margin-bottom: 40px;

  & > label {
    display: block;
    width: fit-content;
    margin: 0 auto 10px;
  }
}

.product-data-container {
  @include flex-setup($wrap: wrap, $gap: 12px, $jc: center, $ai: center);

  button[type="submit"] {
    @include box-shape($border: 0, $radius: 4px, $padding: 0 16px);
    height: 35px;
    background-color: #77b64d;
    color: white;
    font-size: 16px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);

    &:hover {
      background-color: #86d154;
    }

    &:active {
      background-color: #649c3f;
      outline: 2px solid #86d154;
      outline-offset: -2px;
    }
  }
}

.product-input-container {
  position: relative;

  input {
    @include box-shape($border: 0, $radius: 4px, $padding: 6px 8px);
    width: min(100%, 260px);
    font-size: 20px;

    &:focus {
      outline: 2px solid #ffffff;
      outline-offset: 2px;
    }
  }

  button[type="reset"] {
    @include close-button();
    position: absolute;
    inset: 0;
    margin: auto 9px auto auto;
  }
}

.control-panel {
  @include flex-setup($jc: space-between);
  margin-bottom: 10px;
  padding: 0 2px;
}

.control-panel-left {
  @include flex-setup($gap: 10px);
  position: relative;

  .control-checkbox-container,
  .control-button {
    @include flex-setup($jc: center, $ai: center);
    width: 38px;
  }

  button:nth-of-type(1) {
    padding: 0;

    span {
      width: 76%;
      height: 76%;
      margin-left: 0.5px;
    }
  }

  button:nth-of-type(2) {
    padding: 3px 0 0;
    font-size: 22px;
  }
}

.control-panel-right {
  @include flex-setup($gap: 10px);
  position: relative;
}

.control-checkbox-container {
  @include box-shape($border: 2px solid white, $radius: 6px);
  position: relative;
  height: 38px;

  &:hover {
    cursor: pointer;
    border-color: #ff7d4a;

    .tooltip {
      visibility: visible;
      opacity: 1;
      transition: opacity 0.2s linear 0.8s, visibility 0s;
    }
  }
}

.control-button {
  @extend .control-checkbox-container;
  padding: 0 12px;
  background-color: transparent;
  color: white;
  font-size: 18px;

  &:active {
    & > span {
      transform: translateY(2px);
    }
  }

  span {
    display: inline-block;
  }
}

.action-list,
.select-list {
  @include menu-setup();
}

.action-list {
  left: 28%;

  span {
    width: max-content;
    text-align: left;
    cursor: pointer;
  }
}

.sort-type-info {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  width: max-content;
  transform: translateX(calc(100% + 10px));
  font-size: 14px;
  transition: opacity 0.1s linear;
}

.select-list {
  right: -12px;

  span {
    position: relative;
    width: 110px;
    padding-right: 4px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: default;
  }

  button {
    // prettier-ignore
    @include close-button($size: 17px, $font-size: 12px, $color: rgba(255, 255, 255, 0.4), $color-active: rgba(255, 255, 255, 0.8), $bg-color-hover: transparent);
    position: relative;

    &:hover {
      color: rgba(255, 255, 255, 0.8);
    }
  }
}

.selected-list {
  background-color: #545474;
}

.product-list-container {
  @include box-shape($border: 2px solid white, $radius: 10px);
  height: 404px;
  background-color: #292936;
  overflow: auto;
}

.product-list {
  list-style-type: none;

  & > li {
    @include flex-setup($gap: 10px, $ai: center);
    border-bottom: 2px solid rgba(255, 255, 255, 1);
    background-color: #554875;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);

    &:nth-of-type(n + 10):last-of-type {
      border-bottom: 0;
    }
  }

  .selected-product {
    background-color: #688f47;
  }

  span {
    @include flex-setup($jc: center, $ai: center);
    width: 40px;
    height: 40px;
    border-right: 2px solid rgba(255, 255, 255, 1);
    text-shadow: none;

    &:hover {
      cursor: pointer;
    }
  }

  button {
    // prettier-ignore
    @include close-button($size: 23px, $font-size: 16px, $color: rgba(255, 255, 255, 0.6), $color-active: rgba(255, 255, 255, 0.8), $bg-color-hover: rgba(255, 255, 255, 0.2));
    margin: 0 14px 0 auto;
  }
}

.product-list.formed-list {
  counter-reset: product-counter;

  & > li {
    counter-increment: product-counter;

    &::before {
      @include flex-setup($jc: center, $ai: center);
      content: counter(product-counter);
      width: 40px;
      height: 40px;
      border-right: 2px solid rgba(255, 255, 255, 1);
    }
  }
}

.space-container {
  width: 100%;
  height: 20px;
}
